div.scrollup {
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background-color: rgba(218, 52, 88, 0.7);
    /* цвет заднего фона */
    right: 10%;
    /* расстояние от правого края */
    bottom: 0px;
    /* расстояние от нижнего края */
    padding: 10px 15px;
    /* отступы до содержимого блока */
    font-size: 20px;
    /* размер шрифта (иконки) */
    border-top-left-radius: 4px;
    /* скругление верхнего левого угла */
    border-top-right-radius: 4px;
    /* скругление верхнего правого угла */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
    transition: background 0.2s linear;
}

div.scrollup:hover {
    background-color: #da3458;
    /* цвет заднего фона при наведении */
}